# PART 1: PHPMyAdmin
You will complete questions 1-9 below in the PHPMyAdmin interface. 
Log in by pasting the following URL into your browser, and
using the following Username and Password:


URL: https://sql.springboard.com/
Username: student
Password: learn_sql@springboard

The data you need is in the "country_club" database. This database
contains 3 tables:


*   the "Bookings" table,
*   the "Facilities" table, and
*   the "Members" table.

In this case study, you'll be asked a series of questions. You can
solve them using the platform, but for the final deliverable,
paste the code for each solution into this script, and upload it
to your GitHub.


Before starting with the questions, feel free to take your time,
exploring the data, and getting acquainted with the 3 tables.

## Q1: 
Some of the facilities charge a fee to members, but some do not.
Write a SQL query to produce a list of the names of the facilities that do.

In [ ]:
SELECT name FROM Facilities WHERE membercost=0;

## Q2: 
How many facilities do not charge a fee to members?

In [ ]:
4

## Q3: 
Write an SQL query to show a list of facilities that charge a fee to members,
where the fee is less than 20% of the facility's monthly maintenance cost.
Return the facid, facility name, member cost, and monthly maintenance of the
facilities in question.

In [ ]:
SELECT facid, name, membercost, monthlymaintenance 
FROM Facilities 
WHERE (membercost / monthlymaintenance) < 0.2;

## Q4: 
Write an SQL query to retrieve the details of facilities with ID 1 and 5.
Try writing the query without using the OR operator.

In [ ]:
SELECT * 
FROM `Facilities` 
WHERE facid IN (1,5);

## Q5: 
Produce a list of facilities, with each labelled as
'cheap' or 'expensive', depending on if their monthly maintenance cost is
more than $100. Return the name and monthly maintenance of the facilities
in question.

In [ ]:
SELECT name, monthlymaintenance, 
  CASE WHEN monthlymaintenance > 100 
    THEN 'expensive' ELSE 'cheap' 
  END AS 'maintenace_label' 
FROM `Facilities`;

## Q6: 
You'd like to get the first and last name of the last member(s)
who signed up. Try not to use the LIMIT clause for your solution.

In [ ]:
SELECT firstname, surname 
FROM Members 
WHERE joindate = ( SELECT MAX(joindate) 
FROM Members);

## Q7: 
Produce a list of all members who have used a tennis court.
Include in your output the name of the court, and the name of the member
formatted as a single column. Ensure no duplicate data, and order by
the member name.

In [ ]:
SELECT DISTINCT f.name, CONCAT(m.firstname, ' ', m.surname) AS member_name
FROM Facilities AS f
INNER JOIN Bookings AS b
ON f.facid = b.facid
INNER JOIN Members AS m
ON m.memid = b.memid
WHERE f.name LIKE 'Tennis Court%' AND m.memid != 0
ORDER BY member_name;

## Q8: 
Produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30. Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries.

In [ ]:
SELECT DISTINCT f.name, CONCAT(m.firstname, ' ', m.surname) AS member_name, 
       CASE 
           WHEN b.memid = 0 THEN f.guestcost
           ELSE f.membercost
       END AS cost
FROM Bookings AS b
INNER JOIN Facilities AS f
    ON b.facid = f.facid
INNER JOIN Members AS m
    ON m.memid = b.memid
WHERE DATE(b.starttime) = '2012-09-14' AND (f.membercost > 30 OR f.guestcost > 30)
ORDER BY cost DESC;

## Q9: 
This time, produce the same result as in Q8, but using a subquery.

In [ ]:
SELECT f.name, CONCAT(m.firstname, ' ', m.surname) AS member_name, 
       CASE 
           WHEN b.memid = 0 THEN f.guestcost
           ELSE f.membercost
       END AS cost
FROM (
    SELECT *
    FROM Bookings
    WHERE DATE(starttime) = '2012-09-14'
) AS b
INNER JOIN Facilities AS f
    ON b.facid = f.facid
INNER JOIN Members AS m
    ON m.memid = b.memid
WHERE f.membercost > 30 OR f.guestcost > 30
ORDER BY cost DESC;

# PART 2: SQLite


We now want you to jump over to a local instance of the database on your machine. 

Copy and paste the LocalSQLConnection.py script into an empty Jupyter notebook, and run it. 

Make sure that the SQLFiles folder containing thes files is in your working directory, and
that you haven't changed the name of the .db file from 'sqlite\db\pythonsqlite'.

You should see the output from the initial query 'SELECT * FROM FACILITIES'.

Complete the remaining tasks in the Jupyter interface. If you struggle, feel free to go back
to the PHPMyAdmin interface as and when you need to. 

You'll need to paste your query into value of the 'query1' variable and run the code block again to get an output.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [30]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
      conn = sqlite3.connect(db_file)
      print(sqlite3.version)
    except Error as e:
      print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
      print(row)


def main():
  database = "/content/drive/MyDrive/Springboard/SQLFiles Tier 1/sqlite_db_pythonsqlite.db"

 
  # create a database connection
  conn = create_connection(database)
  with conn: 
      print("2. Query all tasks")
      select_all_tasks(conn)
      print("Revenue less than 1000")
      rev_lessthan_1000(conn)
      print("Recommended Members")
      recommended_mem(conn)
      print("Facility usage by Members")
      member_usage(conn)
      print("Monthly Facility usage by Members")
      monthly_member_usage(conn)

if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)
Revenue less than 1000
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)
Recommended Members
('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Farrell', 'David', None, None)
('Farrell', 'Jemima', None, None)
('GUEST', 'GUEST', None, None)
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rownam', 'Tim', None, None)
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Darren', None, None)
('Smith', 'Darren', None, None)
('Smith', 'Jack', 'Smith', 'Darren')
('Smith', 'Tracy', None, None)
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Tracy', 'Burton', None, None)
('Tupperware', 'Hyacinth', None, None)
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')
Facility usage by Members
('Pool Table', 783)
('Snooker Table', 421)
('Massage Room 1', 421)
('Table Tennis', 385)
('Badminton Court', 344)
('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Squash Court', 195)
('Massage Room 2', 27)
Monthly Facility usage by Members

OperationalError: ignored

## Q10: 
Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [5]:
def rev_lessthan_1000(conn):
  """
    Query to return facilities with total
    revenue less than 1000
    :param conn: the Connection object
    :return:
  """
  cur = conn.cursor()
    
  query2 = """
      SELECT f.name, SUM(CASE
                     WHEN b.memid = 0 THEN f.guestcost * b.slots
                     ELSE f.membercost * b.slots
                  END) AS total_revenue
      FROM Facilities AS f
      INNER JOIN Bookings AS b
          ON b.facid = f.facid
      GROUP BY f.facid, f.name
      HAVING total_revenue < 1000
      ORDER BY total_revenue;
      """




  cur.execute(query2)
 
  rows = cur.fetchall()
 
  for row in rows:
      print(row)

## Q11: 
Produce a report of members and who recommended them in alphabetic surname,firstname order

In [11]:
def recommended_mem(conn):
  """
    Query to return members and who recommended them 
    in alphabetic surname, firstname
    :param conn: the Connection object
    :return:
  """
  cur = conn.cursor()
    
  query3 = """
      SELECT m.surname, m.firstname, 
            r.surname AS recommended_surname, 
            r.firstname AS recommended_firstname
      FROM Members AS m
      LEFT JOIN Members AS r ON m.recommendedby = r.memid
      WHERE m.recommendedby IS NOT NULL
      ORDER BY m.surname, m.firstname;
      """

  cur.execute(query3)
 
  rows = cur.fetchall()
 
  for row in rows:
      print(row)

## Q12: 
Find the facilities with their usage by member, but not guests

In [13]:
def member_usage(conn):
  """
    Query to return facilities and their usage by member, not by guests
    :param conn: the Connection object
    :return:
  """
  cur = conn.cursor()
    
  query4 = """
      SELECT f.name, COUNT(b.bookid) AS usage_by_members
      FROM Facilities AS f
      INNER JOIN Bookings AS b
          ON b.facid = f.facid
      INNER JOIN Members AS m
          ON b.memid = m.memid
      WHERE m.memid <> 0
      GROUP BY f.name
      ORDER BY usage_by_members DESC;
      """

  cur.execute(query4)
 
  rows = cur.fetchall()
 
  for row in rows:
      print(row)

## Q13: 
Find the facilities usage by month, but not guests

In [29]:
def monthly_member_usage(conn):
  """
    Query to return facilities and their usage by month, not by guests
    :param conn: the Connection object
    :return:
  """
  cur = conn.cursor()
    
  query5 = """
      SELECT f.name, 
        MONTH(b.starttime) AS month, 
        COUNT(b.bookid) AS monthly_usage
      FROM Facilities AS f
      JOIN Bookings AS b 
        ON f.facid = b.facid
      JOIN Members AS m 
        ON b.memid = m.memid
      WHERE m.memid <> 0
      GROUP BY f.name, MONTH(b.starttime)
      ORDER BY f.name, MONTH(b.starttime);
      """

  cur.execute(query5)
 
  rows = cur.fetchall()
 
  for row in rows:
      print(row)